:root {
    --gradient-start: #4F00BC;
    --gradient-end: #29ABE2;
}
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
}

.header {
    width: 100%;
    min-height: 80px;
}

.header__img {
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}