:root {
    --gradient-start: #4F00BC;
    --gradient-end: #29ABE2;
}
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
    color: white;
    font-family: Helvetica, sans-serif;
}

figure {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-top: 10px;
    margin-left: 10px;
}

.header__nav__profile {
    display: flex;
    margin-right: 10px;
}

.header__nav__profile img {
    margin-right: 8px;
}

.header__nav__menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -8px;
    position: absolute;
    width: 100px;
    text-align: right;
}

.header__nav__menu li {
    margin: 10px 0;
}

.header__nav__menu a {
    color: white;
    text-decoration: none;
    margin-right: -5px;
}

.header__nav__menu a:hover {
    text-decoration: underline;
}

.header__nav:hover .header__nav__menu, .header__nav__menu:hover {
    display: block;
}

.search-bar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.search-bar__title {
    font-size: 32px;
}

.search-bar__input {
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 12px 24px;
    width: 80%;
    outline: none;
    background: rgba(255, 255, 255, .15);
    caret-color: white;
    color: white;
}

.search-bar__input::placeholder {
    color: white;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    border: 1px solid black;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 0px;
    border: 1px solid white;
}

.carousel__item {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background: var(--gradient-end);
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 450ms;
    transform-origin: center left;
}

.carousel__item:hover ~ .carousel__item {
    transform: translateX(100px);
}

.carousel__container:hover .carousel__item {
    opacity: .3;
}

.carousel__container:hover .carousel__item:hover {
    transform: scale(1.5);
    opacity: 1;
}